.galerie {
    width: 85%;
    height: auto;
    margin: auto;
    background-color:  #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 0;
}