@import './../base/fonts.scss';
@import './../base/colors.scss';
@import './../base/mixins.scss';

.error  {
    h1, &-text, a {
        font-family: $font;
        text-align: center;
        color: $colorPrimary;
    }
    h1 {
        font-size: 288px;
        font-weight: 700;
        margin-bottom: 0px;
        @include mobile-only {
            font-size: 96px;
        }
    }
    &-text {
        font-size: 36px;
        font-weight: 500;
        @include mobile-only {
            font-size: 18px;
            width: 85%;
            margin: auto;
        }
    }
    &-returnHomepage {
        font-size: 18px;
        text-decoration: underline;
        display: block;
        margin: 15em 0 5em 0;
        @include mobile-280-only {
            font-size: 14px;
        }

    }
}