$breakpoints: (
    mobile: 599px,
    mobile-280: 280px
);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}

@mixin mobile-280-only {
    @media screen and (max-width: map-get($breakpoints, mobile-280)){
        @content;
    }
}